
@{
    ViewBag.Title = "ReleaseNote";
}

<h3>Release Note</h3>
<hr/>
<h4>Level 1 assignment</h4>
<p><u>Summary of attempted task</u></p>
<ul class="list-unstyled">
    <li>
        Utilization of API:
        <ul>
            <li>Get Channel Listing (/ams/v3/getChannelList)</li>
            <li>Channels (/ams/v3/getChannels)</li>
            <li>Events (/ams/v3/getEvents)</li>
        </ul>
    </li>
    <li>
        Functional:
        <ul>
            <li>Index page will load channel listing with default sorting of channel name</li>
            <li>User able to add or remove favourite channel</li>
            <li>Favourite channel will be automatically sorted to the top</li>
            <li>User able to sort by channel id or channel name</li>
            <li>User able to search by channel id or channel name</li>
            <li>User able to retrieve channel information of the channel with the current airing programme</li>
        </ul>
    </li>
</ul>
<p><u>Utilization of technologies</u></p>
<ul class="list-unstyled">
    <li>
        Framework: 
        <ul>
            <li>ASP MVC</li>
            <li>Bootstrap</li>
            <li>Jquery</li>
        </ul>
    </li>
    <li>
        Tools:
        <ul>
            <li>Visual Studio 2015</li>
        </ul>
    </li>
</ul>

